@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.navbar li a {
  color: black;
  text-decoration: none;
}

.nav-container ul.login {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 1rem;
  margin-right: 50px;
}
.nav-container ul.login li {
  padding: 3px;
}

.nav-container ul.login li:nth-child(2) {
  border: 1px solid rgb(255, 217, 0);
}

.nav-container ul.navbar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 90%;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.nav-container ul.navbar li:first-child a {
  border: 1px solid #333;
  padding: 10px 20px;
  text-align: center;
  transition: 200ms ease-in-out;
}
.nav-container ul.navbar li:first-child a:hover {
  background-color: #33333362;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.main-container div img {
  width: 60vw;
  height: 90vh;
  margin-left: -20%;
}

.main-container div.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin-left: -10%;
  font-weight: 200;
  font-style: italic;
}
.main-container div.main-text div.main-decorator img {
  width: 70%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}
.yellow-container {
  background-image: url(photo/stats-bg.jpg);
  display: flex;
  min-height: 25vh;
  justify-content: center;
  text-align: center;
  gap: 15vw;
  padding: 10px;
}
.yellow-container .offer h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 10px 5px;
}
.yellow-container .offer h3 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}
.yellow-container .offer p {
  font-size: 0.9rem;
}

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
.account-container .acc-header h1 {
  font-size: 2rem;
}
.acc-decorator img {
  width: 15vw;
}

.account-container .offer-container {
  background-color: rgba(122, 129, 136, 0.192);
  display: flex;
  justify-content: center;
  margin: 20px 15px;
  gap: 70px;
  padding: 20px;
  width: 80%;
}
.account-container .offer-container .acc-offer img {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.acc-button {
  padding: 10px 40px;
  margin: 25px 0;
  border: 1px solid gray;
  color: #333;
  cursor: pointer;
}

.acc-button:hover {
  background-color: lightgray;
  transition: 1.2s ease-in-out;
}

.about-container {
  background-color: pink;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 10px;
}

.about-container .about-decorator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-container .about-decorator p {
  text-align: center;
}
.about-container .about-decorator span img {
  width: 150px;
  margin-left: 30vw;
}
.about-container .about-img img {
  height: 50vh;
  position: relative;
}

.about-container .about-decorator img {
  width: 15vw;
}

.acc-header {
  width: 100%;
}

.about-us {
  text-align: center;
}
.about-us .acc-header h1 {
  font-size: 1.5rem;
  color: #2e2e2e;
  margin-top: 45px;
}

.about-us .acc-header .acc-info p {
  font-size: 1rem;
  margin: 30px 0;
  font-weight: 200;
  color: rgb(78, 76, 76);
}
.about-us .acc-header .acc-decorator img {
  width: 20vw;
}

.about-text .fundation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 25px;
}

.about-text .fundation-list .fundation-card {
  flex: 1 0 48%;
}

.about-text .fundation-list .fundation-card h4,
.about-text .fundation-list .fundation-card p {
  text-align: center;
  color: #2e2e2e;
}
.about-text .fundation-list .fundation-card h4 {
  font-weight: normal;
  font-size: 1rem;
}
.about-text .fundation-list .fundation-card p {
  font-size: 0.7rem;
}

.contact {
  background-image: url(photo/footer-bg.jpg);
  background-size: cover;
  height: 45vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contact .contact-form img {
  width: 200px;
}

.contact .contact-form h4 {
  font-size: 1.2rem;
}
.contact .contact-form {
  text-align: center;
  width: 50%;
}
.contact .contact-form .form {
  display: inline-block;
  
  align-items: center;
}
.contact .contact-form .form input {
  width: 100%;
}

.contact .contact-form .form input[type="text"] {
  border: none;
  background: transparent;
  font-size: 1rem;
  text-decoration: underline;
  background-color: pink;
}
